spring:
  application:
    name: POS API
  datasource:
    url: ${url}
    username: ${username}
    password: ${password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: 8080

jwt:
  secret-key: ${secret-key}
  expiration: ${expiration}

logging:
  level:
    org:
      springframework:
        web: DEBUG
        boot:
          autoconfigure: DEBUG
